{% extends "base.html" %}

{% load static %}
{% block content %}
<div class="profile-detail">
    {% if user.profile.cover_image %}
            <img src="{{ user.profile.cover_image.url }}" alt="Cover Image" class="cover-img">
    {% endif %}
    {% if user.profile.profile_image %}
    <img src="{{ user.profile.profile_image.url }}" alt="Profile Image" class="profile-img">
    {% else %}
    <img src="{% static 'images/default_profile_image.png' %}" alt="Default Profile Image" class="profile-img">
    {% endif %}    
    
    <div class="btns">
        {% if user.is_authenticated %}
            <a class="btn-primary" id="profile-view"  href="{% url 'profile:profile_views' %}">Profile Views</a>
        {% endif %}
        <a href="{% url 'profile:profile_edit' %}" class="btn-primary" id="global-btn">Edit Profile</a>
    </div>
    <div class="profile-info">
        <h1>{{ profile.user.first_name }} {{ profile.user.last_name }}</h1>
        {% if user.profile.bio %}
            <p>{{ user.profile.bio }}</p>
        {% endif %}   
        <p>Location: {{ profile.location }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Date Joined: {{ user.date_joined }}</p>
        {% if user.profile.location %}
            <p>Location: {{ user.profile.location }}</p>
        {% endif %}
        {% if user.profile.birth_date %}
            <p>Birth Date: {{ user.profile.birth_date }}</p>
        {% endif %}
    </div>
</div>

<hr>
{% endblock %}
