{% extends "base.html" %}
{% block content %}
<div class="connection-requests">
    <h2>Connection Requests</h2>
    <h3>Received Requests</h3>
    <ul>
        {% for request in received_requests %}
        <li>{{ request.from_profile.user.username }} - {{ request.created_at }}</li>
        {% endfor %}
    </ul>
    <h3>Sent Requests</h3>
    <ul>
        {% for request in sent_requests %}
        <li>{{ request.to_profile.user.username }} - {{ request.created_at }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
