{% extends "base.html" %}

{% block content %}
<div class="profile-detail">
    <img class="cover-img" src="{{ profile.cover_image.url }}" alt="Cover Image">
    <img class="profile-img" src="{{ profile.profile_image.url }}" alt="Profile Image">
    <h2>{{ profile.user.first_name }} {{ profile.user.last_name }}</h2>
    <p>{{ profile.bio }}</p>
    <p class="location"><b>Location</b>: {{ profile.location }}</p>
    <p class="date"><b>Birth Date</b>: {{ profile.birth_date }}</p>
    <a href="{% url 'profiles:profile_edit' %}" class="btn-primary" id="edit-profile-btn">Edit Profile</a>
</div>
<hr>
{% endblock %}
