<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Young People's Network{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/scripts.js' %}" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/heroicons@1.0.4/dist/heroicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet"> <!-- Google Fonts -->
</head>
<body>
    <header>
        <p class="logo">
            <span class="main-text">Young People's</span>
            <span class="superscript">Network</span>
        </p>
        <button id="sidebar-toggle-btn" class="toggle-icon" onclick="toggleSidebar()">
            <img src="{% static 'images/mn.png' %}" alt="Menu Icon">
        </button>
        <a href="{% url 'home' %}" class="home-link">
            <img src="{% static 'images/home.png' %}" alt="Home" style="width: 24px; height: 24px;">
        </a>
        {% if user.is_authenticated %}
            <button class="logout-btn" aria-label="Log out">
                <a href="{% url 'logout' %}" class="logout-link">
                    <i class="fas fa-sign-out-alt"></i>
                </a>
                <span class="tooltip">Log Out</span>
            </button>
        {% endif %}
    </header>

    <div id="sidebar" class="sidebar" style="left: -250px;">
        <div id="sidebar-content" class="sidebar-content">
            <div id="sidebar-separator" class="separator-1"></div>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'posts:post_list' %}">Posts</a></li>
                    <li><a href="{% url 'groups:group_list' %}">Groups</a></li>
                    <li><a href="{% url 'events:event_list' %}">Events</a></li>
                    <li><a href="{% url 'messaging:conversation_list' %}">Messages</a></li>
                    <li><a href="{% url 'notifications:notification_list' %}">Notifications</a></li>
                    <li><a href="{% url 'profile:profile_detail' user.id %}">Profile</a></li>
                {% else %}
                    <div class="auth-links">
                        <a href="{% url 'users:login' %}">Login</a>
                        <a href="{% url 'users:register' %}">Sign Up</a>
                    </div>
                {% endif %}
            </ul>
        </div>
        <div class="auth-links">
            {% if not user.is_authenticated %}
                <a href="{% url 'users:login' %}">Login</a>
                <a href="{% url 'users:register' %}">Sign Up</a>
            {% endif %}
        </div>
    </div>
    <div id="main-content" class="main-content">
        {% block content %}{% endblock %}
        <footer class="footer">
            <ul>
                <li><a href="#"><i class="fas fa-question-circle"></i> FAQ</a></li>
                <li><a href="#"><i class="fas fa-newspaper"></i> Blog</a></li>
                <li><a href="#"><i class="fas fa-search"></i> Search</a></li>
                <li><a href="#"><i class="fas fa-file-alt"></i> Terms of Service</a></li>
                <li><a href="#"><i class="fas fa-lock"></i> Privacy Policy</a></li>
                <li><a href="#"><i class="fas fa-life-ring"></i> Support</a></li>
                <li><a href="#"><i class="fas fa-comment"></i> Feedback</a></li>
                <li><a href="#" class="about-us-link"><i class="fas fa-info-circle"></i> About Us</a></li>
                <li><a href="#" class="contact-link"><i class="fas fa-envelope"></i> Contact</a></li>
            </ul>
            <p>&copy;{{current_year}} Young People's Network</p>
        </footer>
    </div>
</body>
</html>
